<div class="container">
  <h1>Recipe Box</h1>
  <div class="row">
    <div class="recipe-display-section col-md-6">
      <ul>
        <li *ngFor="let currentRecipe of recipes">
          <h3 (click)="revealDetails(currentRecipe)">{{currentRecipe.title}}</h3>
        </li>
        <div *ngIf=selectedRecipe>
          <h5>{{selectedRecipe.details}}</h5>
          <img src={{selectedRecipe.image}} alt="" />
          <button (click)="hideDetails()">Hide</button>
          <button (click)="turnOnEditMode()">Edit</button>
        </div>
      </ul>
    </div>
    <div *ngIf=editMode>
      <div class="form-display-section col-md-6">
        <form>
          <label for="title">Title:</label>
          <input [(ngModel)]="selectedRecipe.title" name="title">
          <label for="description">Description:</label>
          <input [(ngModel)]="selectedRecipe.details" name="description">
          <button (click)="hideDetails()"  type="button">Done</button>
        </form>
      </div>
    </div>
  </div>
</div>
